.breadcrumb{
    background-color: white;
}
.proceed-checkout{
    background-color:#ecf8ec;
    padding:15px;
    border:1px solid rgb(16, 133, 69);
}
ul{

    padding:5px;
}
ul li{
    list-style:none;
    margin: 5px;
}
.cart-total{
    font-weight: bold;
}

 .checkout{
   background-color: rgb(16, 133, 69);
   text-align: center;
   padding:8px;

}
.checkout a{
    color:white;
    text-decoration: none;
}
/* nút tăng giảm số lượng */

.buttons_added {
    opacity:1;
    display:inline-block;
    display:-ms-inline-flexbox;
    display:inline-flex;
    white-space:nowrap;
    vertical-align:top;
}
.is-form {
    overflow:hidden;
    position:relative;
    background-color:#f9f9f9;
    height:2.2rem;
    width:1.9rem;
    padding:0;
    text-shadow:1px 1px 1px #fff;
    border:1px solid #ddd;
}
.is-form:focus,.input-text:focus {
    outline:none;
}
.is-form.minus {
    border-radius:4px 0 0 4px;
}
.is-form.plus {
    border-radius:0 4px 4px 0;
}
.input-qty {
    background-color:#fff;
    height:2.2rem;
    text-align:center;
    font-size:1rem;
    display:inline-block;
    vertical-align:top;
    margin:0;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    border-left:0;
    border-right:0;
    padding:0;
}
.input-qty::-webkit-outer-spin-button,.input-qty::-webkit-inner-spin-button {
    -webkit-appearance:none;
    margin:0;
}
